
2019.12.20 회귀분석(단순,다항,다중)/.ipynb_checkpoints/2019.12.20 - 3. 다항회귀분석-checkpoint.ipynb
2019.12.20 회귀분석(단순,다항,다중)/.ipynb_checkpoints/2019.12.20 - 1. 시작-checkpoint.ipynb
2019.12.20 회귀분석(단순,다항,다중)/.ipynb_checkpoints/2019.12.20 - 6. 로지스틱 회귀분석-checkpoint.ipynb
